.section.columns-container {
  margin-bottom: 128px;
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  /* width: 100%; */
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: none;
}

.columns > div:nth-child(1) div h1 {
  font-size: clamp(40px, 5vw, 72px);
  font-weight: 400;
  margin: 0;
}

.columns > div:nth-child(1) div > p {
  font-size: 18px;
}

.upcoming-event
  .columns-2-cols
  > div:nth-child(1)
  > div:nth-child(1)
  > p:first-child {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
}

.columns.block.columns-2-cols > div h2 {
  font-size: clamp(30px, 5vw, 56px);
  margin-bottom: 32px;
}

.columns > div:nth-child(1) > div:nth-child(2).columns-scene7-col {
  flex: 1.3;
}

.columns.block.columns-2-cols .columns-scene7-col:nth-of-type(2) {
  display: none;
}

.test-and-measurement {
  margin-bottom: 40px !important;
}

@media (width >= 768px) {
  .section.columns-container {
    padding: 0 3rem;
  }
}

@media (width >= 1024px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns.block.columns-2-cols .columns-scene7-col:nth-of-type(2) {
    display: unset;
  }

  .columns.block.columns-2-cols > div {
    display: flex;
  }

  .columns.block.columns-2-cols > div h2 + p {
    display: none;
  }

  .columns.block.columns-2-cols .columns-scene7-col h1 + p {
    display: none;
  }

  .columns > div > .columns-img-col img {
    display: unset;
  }
}
